<!DOCTYPE html>
<html>

<head>
    <title>Food Price App</title>
    <link href="../static/web-fonts-with-css/css/fontawesome-all.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,700" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="../static/css/style.css">
</head>

<body>
    <div class="header_holder">
        <div class="header_frame">
            <div class="logo">
                <a href="#">Food Price App</a>
            </div>
            <div class="nav_holder">
                <ul>
                    <li><a href="#">Home</a></li>
                    <li class="active"><a href="#">Foods</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="container_overlay">
        <div class="overlay">
            <h2>Jobs</h2>
        </div>
    </div>
    <div class="container">
        <div class="job_panel">
            <div class="filters">
                <div class="form-panel">
                    <input type="text" id="search" name="search" placeholder="Search by Category or Name or Sub name">
                    <span><i class="fas fa-search"></i></span>
                </div>
                <div class="form-panel">
                    <label class="custom-select" for="search-type">
                        <select id="search-type" name="search-type">
                            <option value="">
                                Select search type
                            </option>
							{% for category in search_type %}
								<option value="{{ category }}" style="text-transform: capitalize;">
									{{ category }}
								</option>
							{% endfor %}
                          
                        </select>
                    </label>
                </div>
                
				<div class="form-panel">
				<a href="javascript:;" class="search-price">
							Search Prices
						</a>
				</div>
                <span class="error"></span>
            </div>
			<div id="search-results">
				
			<div>
		</div>
    </div>
	
	
<script src='../static/js/jquery.min.js'></script>
<script src='../static/js/main.js'></script>
</body>

</html>